<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Formulaire de connection</h1>
    <form class="" action="#" method="post">
      <label for="username">Login</label>
      <input type="text" name="username" id="username" value="login">

      <label for="password">Password</label>
      <input type="text" name="password" id="password" value="password123!">

      <button type="submit" name="button">Abort</button>
      <button type="submit" name="button">Valid</button>
    </form>
  </body>
</html>
