body{
  display: flex !important;
  justify-content: center;
  background-color: black;
}

#root {
  z-index: 998;
  width: 95%;
}

.App{

}

.error-text{
  color: white;
  font-weight: 700;
  padding: 1em;
  background-color: #e64a19 !important;
}

.valid-text{
  color: white;
  font-weight: 700;
  padding: 1em;
  background-color: #4db6ac !important;
}

.error-input{
  color: red;
  max-width: 500px;
  width:95%;
  margin: 0;
  margin: auto;
  margin-top: -15px;
  font-weight: 700;
  padding: 0.5em;
  border-radius: 5px;
  border:1px solid red;
  background-color: transparent !important;
}

#background-overlay {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,rgba(0,0,0,0.1)),color-stop(100%,rgba(0,0,0,1)));
  top: 60px;
  height: 580px;
}

#background-image {
    background: url("/img/background.jpg");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 60px;
    height: 570px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
}


.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 0px;
  padding-top: 3%;
}
